.DP {
    color: black;
    padding: 3px;
}

.button{
    background-color: antiquewhite;
    padding: 5px;
    color: black;
    justify-content: center;
    align-items: center;
}

.BB{
    width: 50px;
}

.OB{
    width: 70px;
}