.DP {
    color: black;
    padding: 3px;
}

.button{
    background-color: antiquewhite;
    padding: 5px;
    color: black;
    justify-content: center;
    align-items: center;
}

.BB{
    width: 50px;
}

.OB{
    width: 70px;
}

.nw{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    height: auto;
    padding: 10px;
    padding-right: 50%;
}

.nwdaf{
    margin-top: 10px;
    text-decoration: underline solid ;
}
.tw{
    color: rgb(220, 53, 53);
}
